<!DOCTYPE html>
<html>




<head>
    <title>About Jeff Walsh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styleContact.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    </style>
  </head>
  
  <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Jeffery Trevor Walsh</h1>
        <p>He/Him</p> 
        <img src="./Picture/jeff.jpg" id ="id" style="width:300px;height:300px;"> 
        <script>
            document.getElementById('id').style.borderRadius = '50%'
        </script>
      
        </div>
      </nav>
      <div class="container">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">St.Johns, Newfoundland</div>
              <div class="text-two">A1A 2V2</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">(1709)456-8191</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">jtrevorwalsh11@gmail.com</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send me a message</div>
            <p>If you have any interest in my personal website or have any future employment, feel free to message me here.</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your email">
            </div>
            <div class="input-box message-box">
              
            </div>
            <div class="button">
              <input type="button" value="Send Now" >
            </div>
          </form>
        </div>
        </div>
      </div>
    </body>
</html>

