<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About Jeff Walsh</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<style>
		.fakeimg {
		  height: 200px;
		  background: #aaa;
		}
		</style>
	  </head>
	  
<body>
	  
	  
	  <div class="jumbotron text-center" style="margin-bottom:0">
		<h1>Jeffery Trevor Walsh</h1>
		<p>He/Him</p> 
	  </div>
	  <div class="topnav" id="myNavbar">
        <a class="active"><a href="./homepage.html">Home</a>
        <a href="./resume2.html" class="active">Resume</a>
        <a href="./usSlideshow.html">Music video</a>
        <a href="./database.html">MUN Grades</a>
        <a href="./aboutMe.html">Contact Me</a>

    </div>
		</div>
	  </nav>

	<table>
		<thead>
			<tr>
				<th>Course Name</th>
				<th>Number</th>
				<th>Level</th>
				<th>Grade</th>
				<th>Semester</th>
                <th>Subject Area</th>
			</tr>
		</thead>
		<tbody id="data-output">
		</tbody>
	</table>

	<script src="script.js"></script> <!-- Link to the javascript file -->
</body>
</html>
