<!DOCTYPE html>
<html lang="en">


<head>
  <title>About Jeff Walsh</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  
  </style>
</head>

<div class ="bg-container">
  <body>

<!----
  <div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Jeffery Trevor Walsh</h1>
    <p>He/Him</p> 
  </div>
-->


      <div class="topnav" id="myNavbar">
          <a class="active"><a href="./homepage.html">Home</a>
          <a href="./resume2.html" class="active">Resume</a>
          <a href="./usSlideshow.html">Music video</a>
          <a href="./database.html">MUN Grades</a>
          <a href="./aboutMe.html">Contact Me</a>

      </div>
    


  
    <p class = "increasedFont">
      Welcome to my about me webpage!<br>
    </p>
    <p class = "condensedlines">
      Navigate through my website to learn about my<br>
      academic accolades and my qualifications.<br>
      Below is a link to my github profile.</h>
  
      <a href="https://github.com/jtwalsh1191?tab=repositories">
        <button class="styled"
          type="button">
        Click to view my github
        </button>
      </a> 
      <!---
      <h3>Some Links</h3>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="./usSlideshow.html">Music video of me and my girlfriend</a></li>
          <li class="active"><a href="https://github.com/jtwalsh1191?tab=repositories">My GitHub Link</a></li>
          <li class="active"><a href="./database.html">My courses and grades</a></li>
        </ul>
      <hr class="hidden-sm hidden-md hidden-lg">
      -->
    </p>
    <!---
    <a href="./resume2.html">
      <button class="styled"
        type="button">
      Click to view my github
      </button>
    </a>
  -->
    <div class = "centerRight">
      <img align="right" src="./Picture/jeff.jpg" alt="">
    </div>
  </div>
</div>



  </body>
</html>

</html>
